.mobilefront{
    .container{
        padding-top: 2em;
        .btn{
            margin: 0 0.5em;
        }
        .row{
            .h1{
                text-align: center;
            }
            
        }
        video{
            width:100%;
        }
    }
}